.navbar_01 .navbarsimple {font-color: #e91e63;}

.navbar_els .navitem {font-color: #e91e63;}

.sidebar_default .h1{
    position: fixed,
    top: 0,
    left: 0,
    bottom: 0,
    width: 16rem,
    padding: 2rem 1rem,
    background-color: #41729F;}

.jumbotron {margin-bottom: 0em;
    	    background-color: #0076c0;
    	    color: #ffffff;
		text-align: center;}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
